<!DOCTYPE html>
<html>
<head>
<title>Utah Online</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="business.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="search.css">
</head>

<body ng-app="business" ng-controller="MainCtrl">
    <div class="frontPage">
    <div class="header">
            <a class="business" href="myBusiness.html">MY BUSINESS</a>
            <a class = "favoritedBus" href="favorited.html">FAVORITE BUSINESSES</a>
            <a class = "products" href="products.html">PRODUCTS</a>
            <a class="about" href="about.html">ABOUT US</a>
            <a class="search" href="search.html">SEARCH</a>
            <a class="logOut" href="index.html">LOG OUT</a>
    </div>
    
    <h2>Search Page</h2>
    <div class="searchBar">
        <form ng-submit="searchBusinesses()" style="width: 60%; margin:auto; padding: 30px">
            <div>FIND ALL OF THE LOCAL UTAH PRODUCTS YOU NEED, HERE IN OUR ONLINE COMMUNITY.</div>
            <input type="text" ng-model="searchWord">
            <input type="submit">
        </form>
    </div>
    
   
    
    <div class="businessEntry" ng-repeat="business in businesses">
        <h3>Name: {{business.name}}</h3>
        <h5 id="address">Address: {{business.adress}}</h5>
        <h5 id="phone">Phone Number: {{business.phoneNum}}</h5>
        <h5 id="website">Website URL: {{business.website}}</h5>
        <h5 id="items">Items sold here: {{business.discription}} </h5>
    </div>
</body>
</html>